@import url('https://fonts.googleapis.com/css?family=Raleway:400,900|Roboto:300,400,700');

header, .sliders {
    width: 100%;
    background: #f0f0f0;
}
body {
    margin: 0;
}
.headercontent {
    max-width: 1200px;
    margin: 0 auto;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.sliders {
    height: 780px;
}
.s1 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 105px;
}
.menu {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display: flex;
    width: 30%;
    justify-content: space-between;

}
a {
    text-decoration: none;
    color: #454545;
}
.m {
    height: 13px;
    width: 16px;
}
.m span {
    width: 16px;
    height: 3px;
    background: #454545;
}
.line1, .line2, .line3 {
    display: block;
}
.line2 {
    margin: 2px 0;
}
.bw {
    font-family: 'Raleway', sans-serif;
    font-size: 150px;
    color: #303030;
    margin: 0 auto;
    text-align: right;
    text-transform: uppercase;
    font-weight: 900;
}
.slider {
    width: 51%;
    margin-right: 100px;
}
.slcontent {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: right;
    max-height: 110px;
    overflow: hidden;
    font-weight: 300;
    line-height: 36px;
    margin: 24px 0 24px 45px;
}
.sllink {
    text-align: right;
    margin-bottom: 80px;

}
.sllink a {
    color: #e10011;
    font-size: 24px;
    font-weight: 700;

}
.image {
    background: radial-gradient(#fff, #eee);
}
.buttons {
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #303030;

    margin: 0 5px;
    display: block;
}
.button:nth-child(1) {
    background: #e10011;
}
.featured {
    width: 100%;
    background: #f0f0f0;
    margin: 0 auto;

}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 48px;
    margin: 0 auto;
    padding-top: 115px;
}
.fcontent {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
    max-width: 1200px;
    background: #fff;
    margin: 0 auto;
    font-size: 18px;

}
.cont1 {
    margin: auto 27%;
    padding-bottom: 75px;
}
.galery {
    background: #fff;
    max-width: 1200px;

    align-items: center;
    margin: 0 auto;
    padding-bottom: 70px;

}
.pic1, .pic2,.pic3, .pic4, .pic5 {

    margin: 0 auto;
}
.row1, .row2 {
    display: flex;
}
.row1 {
    padding-bottom: 35px;
}
.pic1 {
    margin: 0 35px 0 70px;
}
.pic2 {
    margin-right: 70px;
}
.pic3 {
    margin: 0 35px 0 70px;
}
.pic4 {
    margin-right: 35px;
}
.pic5 {
    margin-right: 70px;
}