h1 {
    font-size: 1.8em;   /*переопределить размер Н1 */
}
.fz0 {
    font-size: 0px;
}
div {
    height: 200px;
    background: hotpink;
    margin: 50px;
    display: inline-block;
    font-size: 16px;
}
div:first-child {
    width: 200px;
}
div:nth-child(2) {
    width: calc(100% - 200px - 200px);
}